 .gallery {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     gap: 10px;
     padding: 20px;
 }
 .gallery-item {
     overflow: hidden;
 }
 .gallery-item img {
     width: 100%;
     height: auto;
     display: block;
 }
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: black
 }
 .modal-content {
     margin: auto;
     display: block;
     max-width: 90%;
     max-height: 90%;
 }

 .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: black;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
 }

 .close:hover,
 .close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
 }

 .banner {
     background-color: #f4f4f4;
     padding: 20px;
     text-align: center;
 }
 
.banner h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        margin: 0;
        letter-spacing: 2px;
    }